/* Styles pour la Navbar */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .navbar-nav li {
    margin-left: 20px;
  }
  
  .navbar-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Hover effect for links */
  .navbar-nav a:hover {
    color: #ffcc00;
  }
  