// _media-queries.scss

// Exemple de règles de médias pour différentes tailles d'écrans
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Media query pour les écrans mobiles
@mixin media-query-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

// Media query pour les tablettes
@mixin media-query-tablet {
  @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
    @content;
  }
}

// Media query pour les écrans de bureau
@mixin media-query-desktop {
  @media (min-width: $tablet-width + 1) and (max-width: $desktop-width) {
    @content;
  }
}

// Media query pour les écrans larges (au-delà de 1024px)
@mixin media-query-large {
  @media (min-width: $desktop-width + 1) {
    @content;
  }
}
